@charset "UTF-8";
/* easeOutExpo */
/* easeInExpo */
/* easeInOutExpo */
/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
HELPERS
––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}

.flex-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?u5zu1h");
  src: url("../onts/icomoon.eot?u5zu1h#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?u5zu1h") format("truetype"), url("../fonts/icomoon.woff?u5zu1h") format("woff"), url("../fonts/icomoon.svg?u5zu1h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enlarge:before {
  content: "\e98b";
}

.icon-shrink:before {
  content: "\e98c";
}

.icon-play:before {
  content: "\ea1c";
}

.icon-pause:before {
  content: "\ea1d";
}

.icon-volume-high:before {
  content: "\ea26";
}

.icon-volume-medium:before {
  content: "\ea27";
}

.icon-volume-low:before {
  content: "\ea28";
}

.icon-volume-mute:before {
  content: "\ea2a";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin:before {
  content: "\eaca";
}

@font-face {
  font-family: 'High Tide';
  src: url("../fonts/high_tide_-_demo-webfont.woff2") format("woff2"), url("../fonts/high_tide_-_demo-webfont.woff") format("woff");
  font-weight: normal;
}
h1 {
  font-family: 'High Tide';
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

h2 {
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -1px;
  font-weight: 900;
  text-transform: uppercase;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
GLOBAL STYLES
––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  background: #121212;
}

#main {
  padding-top: 90px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0 60px;
  margin: 0 auto;
}

section {
  padding: 0;
}

.col-1-2 {
  width: 50%;
  float: left;
}

.col-1-3 {
  width: 33.33333%;
  float: left;
}

.col-1-4 {
  width: 23.5%;
  float: left;
  margin-right: 2%;
}
.col-1-4:last-child {
  margin-right: 0;
}
@media (max-width: 960px) {
  .col-1-4 {
    width: 48%;
  }
}

.col-1-5 {
  width: 20%;
  float: left;
}

.grid {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid .container {
  height: 100%;
}
.grid span {
  display: block;
  width: 25%;
  float: left;
  height: 100%;
  border-right: 1px solid transparent;
}
.grid span:first-child {
  border-left: 1px solid transparent;
}
.grid.dark span {
  border-color: rgba(255, 255, 255, 0.05);
}
.grid.light span {
  border-color: rgba(0, 0, 0, 0.05);
}

header {
  position: fixed;
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  background: #000;
  text-align: center;
}
header .logo {
  display: block;
  position: absolute;
  left: 60px;
}
header nav {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 100%;
  text-align: center;
}
header nav li {
  display: inline-block;
  margin: 0 30px;
  font-size: 14px;
  line-height: 90px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
}
header nav li a {
  color: rgba(255, 255, 255, 0.6);
}
header nav li a:hover {
  color: white;
}
header nav li.active a {
  color: white;
}

.trailer {
  position: relative;
  width: 100%;
  padding: 90px 0 140px 0;
}
.trailer .trailer-hero {
  position: relative;
  margin: 0 25vw;
  z-index: 1;
}
.trailer .trailer-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #121212;
  background: url("../img/trailer-bg.jpg") no-repeat center;
  background-size: cover;
  will-change: transform;
  z-index: 0;
}
.trailer h1 {
  font-family: "Oswald";
  font-size: 30px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.5);
}
.trailer h1 strong {
  color: rgba(255, 255, 255, 0.2);
}
.trailer .act-tag {
  display: inline-block;
  font-size: 16px;
  padding-bottom: 30px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.trailer .act-tag strong {
  font-weight: 700;
  color: #f49347;
}
.trailer .act-tag img {
  display: inline-block;
  margin-top: -5px;
  margin-left: -2px;
}

.episodes {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #121212;
}
.episodes h1 {
  font-family: "Oswald";
  font-size: 30px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.5);
}
.episodes h1 strong {
  color: rgba(255, 255, 255, 0.2);
}
.episodes .episodes-header {
  text-transform: uppercase;
  font-size: 26px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 45px 0;
}
.episodes .episodes-header strong {
  color: rgba(255, 255, 255, 0.5);
}
.episodes .episodes-header span.divider {
  font-weight: 300;
}
.episodes .episodes-header span.title {
  text-transform: none;
}
.episodes .episodes-header h4.season {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}
.episodes .episodes-grid .container {
  margin-bottom: 2%;
}
.episodes .episodes-grid .play-btn-large {
  bottom: 20px;
  left: 15px;
}
.episodes .episodes-grid .episode-description {
  margin-top: 15px;
}
.episodes .episodes-grid .episode-description h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: white;
}
.episodes .episodes-grid .episode-description p {
  margin-top: 8px;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #121212;
}
.hero h1 {
  font-family: "Oswald";
  font-size: 30px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.5);
}
.hero h1 strong {
  color: rgba(255, 255, 255, 0.2);
}

.hero-images {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/cast/mike.jpg");
  background-repeat: none;
  background-position: center top;
  background-size: cover;
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-will-change: transform;
  will-change: transform;
}

.hero-nav-wrap {
  position: relative;
  max-width: 1280px;
  z-index: 4;
}
.hero-nav-wrap h1 {
  display: block;
  text-align: center;
}
.hero-nav-wrap p {
  max-width: 960px;
  margin: 40px auto 0 auto;
  text-align: left;
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.hero-nav {
  margin-top: 40px;
  -webkit-will-change: transform;
  will-change: transform;
  -webkit-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.hero-nav .col-1-3 {
  width: 16.666666%;
  margin: 20px 0;
  text-align: center;
}
.hero-nav .col-1-3 img {
  max-width: 120px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}
.hero-nav .col-1-3 h2 {
  display: inline-block;
  text-indent: -5px;
  margin-top: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: white;
  font-family: "Oswald";
  font-style: italic;
}
.hero-nav .col-1-3 h2 strong {
  position: relative;
}
.hero-nav .col-1-3 h2 span {
  position: absolute;
  width: 0;
  height: 5px;
  bottom: 0px;
  left: 0;
  background: #f49347;
  -webkit-transition: width 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: width 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: width 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: width 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: width 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.hero-nav .col-1-3:hover h2 span {
  width: 100%;
}

.scroll-icon-wrap {
  position: absolute;
  width: 200px;
  z-index: 6;
  bottom: 85px;
  left: 50%;
  margin-left: -100px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}
.scroll-icon-wrap p {
  font-weight: 600;
  margin-bottom: 10px;
  color: #f49347;
}
.scroll-icon-wrap p strong {
  color: white;
}

.scroll-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
}
.scroll-icon span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.scroll-icon i {
  font-size: 12px;
  line-height: 45px;
  color: white;
  animation: scrollIcon 1.4s infinite;
}

@-webkit-keyframes scrollIcon {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes scrollIcon {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes scrollIcon {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes scrollIcon {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*# sourceMappingURL=main.css.map */
