/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
HELPERS
––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
    text-decoration:none;
}

.flex-center-v{
    display:flex;
    align-items:center;
}
.flex-center-h{
    display:flex;
    justify-content:center;
}
.flex-all{
    display:flex;
    align-items:center;
    justify-content:center;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u5zu1h');
  src:  url('../onts/icomoon.eot?u5zu1h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u5zu1h') format('truetype'),
    url('../fonts/icomoon.woff?u5zu1h') format('woff'),
    url('../fonts/icomoon.svg?u5zu1h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enlarge:before {
  content: "\e98b";
}
.icon-shrink:before {
  content: "\e98c";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea2a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eaca";
}


@font-face {
    font-family: 'High Tide';
    src: url('../fonts/high_tide_-_demo-webfont.woff2') format('woff2'),
         url('../fonts/high_tide_-_demo-webfont.woff') format('woff');
    font-weight: normal;

}
h1{
    font-family:'High Tide';
    text-transform:uppercase;
    font-style: italic;
    font-weight:bold;
}

h2{
    font-size:45px;
    line-height:45px;
    letter-spacing:-1px;
    font-weight:900;
    text-transform:uppercase;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
GLOBAL STYLES
––––––––––––––––––––––––––––––––––––––––––– */
html,body{
	height:100%;
	-webkit-font-smoothing:antialiased;
    font-family:"Montserrat", sans-serif;
    background:$blue;
}
#main{
    //height:100%;
    padding-top:90px;
}
.container{
	position:relative;
	width:100%;
	max-width:100%;
    padding:0 60px;
	margin:0 auto;
}
section{
	padding:0;
}
.row{
	
}
.col-1-2{
	width:50%;
	float:left;
}
.col-1-3{
	width:33.33333%;
	float:left;
}
.col-1-4{
	width:23.5%;
	float:left;
    margin-right:2%;
    &:last-child{
        margin-right:0;
    }
    @media(max-width:960px){
        width:48%;
    }
}
.col-1-5{
    width:20%;
    float:left;
}
.grid{
    position:absolute;
    z-index:0;
    top:0;left:0;
    width:100%;
    height:100%;
    .container{
        height:100%;
    }
    span{
        display:block;
        width:25%;
        float:left;
        height:100%;
        border-right:1px solid transparent;
        &:first-child{
            border-left:1px solid transparent;
        }
    }
    &.dark{
        span{
            border-color:rgba(255,255,255,0.05);
        }
    }
    &.light{
        span{
            border-color:rgba(0,0,0,0.05);
        }
    }
}
header{
    position:fixed;
    @include transform(translateZ(0));
    z-index:999;
    top:0px;left:0px;  
    width:100%;
    height:90px;
    background:#000;
    text-align:center;
    .logo{
        display:block;
        position:absolute;
        left:60px;
    }
    nav{
        position:absolute;
        top:0;
        z-index:4;
        width:100%;
        text-align:center;
        li{
            display:inline-block;
            margin:0 30px;
            font-size:14px;
            line-height:90px;
            font-weight:600;
            color:rgba(255,255,255,0.6);
            &.active{
                color:white;
            }
            a{
                position:relative;
                color:white;
                &:after{
                    content:'';
                    display:block;
                    position:absolute;
                    bottom:-5px;
                    left:50%;
                    margin-left:0;
                    width:0;
                    height:2px;
                    background:$orange;
                    @include opacity(0);
                    @include transition(all 0.6s $easeOutExpo);
                }
                &:hover, &.active{
                    &:after{
                        @include opacity(1);
                        margin-left:-50%;
                        width:100%;
                    }
                }
            }
        }
    }
}
footer{
	
}
.trailer{
    position:relative;
    width:100%;
    padding:90px 0 140px 0;
    .trailer-hero{
        position:relative;
        margin: 0 25vw;
        z-index: 1;
    }
    .trailer-bg {
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $blue;
        background: url('../img/trailer-bg.jpg') no-repeat center;
        background-size: cover;
        will-change: transform; 
        z-index: 0;
    } 
    h1{
        font-family:"Oswald";
        font-size:30px;
        line-height:35px;
        color:rgba(255,255,255,0.5);
        strong{
            color:rgba(255,255,255,0.2);
        }
    }
    .act-tag{
        display:inline-block;
        font-size:16px;
        padding-bottom:30px;
        color:white;
        font-weight:400;
        text-transform:uppercase;
        strong{
            font-weight:700;
            color:$orange;
        }
        img{
            display:inline-block;
            margin-top:-5px;
            margin-left:-2px;
        }
    } 
}
.episodes{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    background:$blue;
    h1{
        font-family:"Oswald";
        font-size:30px;
        line-height:35px;
        color:rgba(255,255,255,0.5);
        strong{
            color:rgba(255,255,255,0.2);
        }
    }
    .episodes-header{
        text-transform:uppercase;
        font-size:26px;
        color:white;
        border-top:1px solid rgba(255,255,255,0.1);
        padding:45px 0;
        strong{
            color:rgba(255,255,255,0.5);
        }
        span.divider{
            font-weight:300;
        }
        span.title{
            text-transform:none;
        }
        h4.season{
            display:block;
            font-size:14px;
            font-weight:600;
            margin-top:15px;

        }
    }
    .episodes-grid{
        .container{
            margin-bottom:2%;
        }
        .play-btn-large{
            bottom:20px;left:15px;
        }
        .episode-description{
            margin-top:15px;
            h3{
                font-size:18px;
                line-height:18px;
                font-weight:600;
                color:white;
            }
            p{
                margin-top:8px;
                font-size:13px;
                line-height:20px;
                color:rgba(255,255,255,0.6);
            }
        }
    }
}



.hero{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
    background:$blue;
    h1{
        font-family:"Oswald";
        font-size:30px;
        line-height:35px;
        color:rgba(255,255,255,0.5);
        strong{
            color:rgba(255,255,255,0.2);
        }
    }
}
.hero-images{
    position:absolute;
    z-index:0;
    top:0;left:0;
    width:100%;
    height:100%;
    background-image:url('../img/cast/mike.jpg');
    background-repeat:none;
    background-position:center top;
    background-size:cover;
    @include transform(scale(1.1));
    -webkit-will-change:transform;
    will-change:transform;
}
.hero-nav-wrap{
    position:relative;
    max-width:1280px;
    z-index:4; 
    h1{
        display:block;
        text-align:center;
    }
    p{
        max-width:960px;
        margin:40px auto 0 auto;
        text-align:left;
        font-size:15px;
        line-height:25px;
        color:rgba(255,255,255,0.6);
    }
}
.hero-nav{
    margin-top:40px;
    -webkit-will-change:transform;
    will-change:transform;
    @include transition(transform 1.2s $easeOutExpo);
    .col-1-3{
        width:16.666666%;
        margin:20px 0;
        text-align:center;
        img{
            max-width:120px;
            border-radius:100%;
            display:inline-block;
            vertical-align:middle;
        }
        h2{
            display:inline-block;
            text-indent:-5px;
            margin-top:5px;
            font-size:25px;
            line-height:30px;
            font-weight:600;
            color:rgba(255,255,255,1);
            font-family:"Oswald";
            font-style:italic;
            strong{
                position:relative;
            }
            span{
                position:absolute;
                width:0;
                height:5px;
                bottom:0px;left:0;
                background:$orange;
                @include transition(width 0.6s $easeOutExpo);
            }
        }
        &:hover{
            h2 span{
                width:100%;
            }
        }
    }
}

.scroll-icon-wrap{
    position:absolute;
    width:200px;
    z-index:6;
    bottom:85px;
    left:50%;
    margin-left:-100px;
    font-size:12px;
    text-align:center;
    font-weight:500;
    p{
        font-weight:600;
        margin-bottom:10px;
        color:$orange;
        strong{
            color:white;
        }
    }

}
.scroll-icon{
    position:absolute;
    width:50px;
    height:50px;
    left:50%;
    margin-left:-25px;
    border:2px solid rgba(255,255,255,0.3);
    border-radius:100%;
    span{
        display:block;
        width:100%;
        height:100%;
        text-align:center;
    }
    i{
        font-size:12px;
        line-height:45px;
        color:white;
        animation: scrollIcon 1.4s infinite;
    }
}

@include keyframes(scrollIcon) {
  0% {
    @include transform(translateY(0));
  }
  50% {
    @include transform(translateY(5px));
  }
  100% {
    @include transform(translateY(0));
  } 
}






